#N
^pad_in\[0\]$
^pad_out\[0\]$
^pad_oe\[0\]$
^pad_ctl\[0\]$
^pad_ctl\[1\]$
^pad_ctl\[2\]$
^pad_ctl\[3\]$
^pad_ctl\[4\]$
^pad_ctl\[5\]$
^pad_ctl\[6\]$
^pad_ctl\[7\]$
^pad_in\[1\]$
^pad_out\[1\]$
^pad_oe\[1\]$
^pad_ctl\[8\]$
^pad_ctl\[9\]$
^pad_ctl\[10\]$
^pad_ctl\[11\]$
^pad_ctl\[12\]$
^pad_ctl\[13\]$
^pad_ctl\[14\]$
^pad_ctl\[15\]$
^pad_in\[2\]$
^pad_out\[2\]$
^pad_oe\[2\]$
^pad_ctl\[16\]$
^pad_ctl\[17\]$
^pad_ctl\[18\]$
^pad_ctl\[19\]$
^pad_ctl\[20\]$
^pad_ctl\[21\]$
^pad_ctl\[22\]$
^pad_ctl\[23\]$
^pad_in\[3\]$
^pad_out\[3\]$
^pad_oe\[3\]$
^pad_ctl\[24\]$
^pad_ctl\[25\]$
^pad_ctl\[26\]$
^pad_ctl\[27\]$
^pad_ctl\[28\]$
^pad_ctl\[29\]$
^pad_ctl\[30\]$
^pad_ctl\[31\]$
^pad_in\[4\]$
^pad_out\[4\]$
^pad_oe\[4\]$
^pad_ctl\[32\]$
^pad_ctl\[33\]$
^pad_ctl\[34\]$
^pad_ctl\[35\]$
^pad_ctl\[36\]$
^pad_ctl\[37\]$
^pad_ctl\[38\]$
^pad_ctl\[39\]$
^pad_in\[5\]$
^pad_out\[5\]$
^pad_oe\[5\]$
^pad_ctl\[40\]$
^pad_ctl\[41\]$
^pad_ctl\[42\]$
^pad_ctl\[43\]$
^pad_ctl\[44\]$
^pad_ctl\[45\]$
^pad_ctl\[46\]$
^pad_ctl\[47\]$
^pad_in\[6\]$
^pad_out\[6\]$
^pad_oe\[6\]$
^pad_ctl\[48\]$
^pad_ctl\[49\]$
^pad_ctl\[50\]$
^pad_ctl\[51\]$
^pad_ctl\[52\]$
^pad_ctl\[53\]$
^pad_ctl\[54\]$
^pad_ctl\[55\]$
^pad_in\[7\]$
^pad_out\[7\]$
^pad_oe\[7\]$
^pad_ctl\[56\]$
^pad_ctl\[57\]$
^pad_ctl\[58\]$
^pad_ctl\[59\]$
^pad_ctl\[60\]$
^pad_ctl\[61\]$
^pad_ctl\[62\]$
^pad_ctl\[63\]$

#E
^pad_in\[8\]$
^pad_out\[8\]$
^pad_oe\[8\]$
^pad_ctl\[64\]$
^pad_ctl\[65\]$
^pad_ctl\[66\]$
^pad_ctl\[67\]$
^pad_ctl\[68\]$
^pad_ctl\[69\]$
^pad_ctl\[70\]$
^pad_ctl\[71\]$
^pad_in\[9\]$
^pad_out\[9\]$
^pad_oe\[9\]$
^pad_ctl\[72\]$
^pad_ctl\[73\]$
^pad_ctl\[74\]$
^pad_ctl\[75\]$
^pad_ctl\[76\]$
^pad_ctl\[77\]$
^pad_ctl\[78\]$
^pad_ctl\[79\]$
^pad_in\[10\]$
^pad_out\[10\]$
^pad_oe\[10\]$
^pad_ctl\[80\]$
^pad_ctl\[81\]$
^pad_ctl\[82\]$
^pad_ctl\[83\]$
^pad_ctl\[84\]$
^pad_ctl\[85\]$
^pad_ctl\[86\]$
^pad_ctl\[87\]$
^pad_in\[11\]$
^pad_out\[11\]$
^pad_oe\[11\]$
^pad_ctl\[88\]$
^pad_ctl\[89\]$
^pad_ctl\[90\]$
^pad_ctl\[91\]$
^pad_ctl\[92\]$
^pad_ctl\[93\]$
^pad_ctl\[94\]$
^pad_ctl\[95\]$
^pad_in\[12\]$
^pad_out\[12\]$
^pad_oe\[12\]$
^pad_ctl\[96\]$
^pad_ctl\[97\]$
^pad_ctl\[98\]$
^pad_ctl\[99\]$
^pad_ctl\[100\]$
^pad_ctl\[101\]$
^pad_ctl\[102\]$
^pad_ctl\[103\]$
^pad_in\[13\]$
^pad_out\[13\]$
^pad_oe\[13\]$
^pad_ctl\[104\]$
^pad_ctl\[105\]$
^pad_ctl\[106\]$
^pad_ctl\[107\]$
^pad_ctl\[108\]$
^pad_ctl\[109\]$
^pad_ctl\[110\]$
^pad_ctl\[111\]$
^pad_in\[14\]$
^pad_out\[14\]$
^pad_oe\[14\]$
^pad_ctl\[112\]$
^pad_ctl\[113\]$
^pad_ctl\[114\]$
^pad_ctl\[115\]$
^pad_ctl\[116\]$
^pad_ctl\[117\]$
^pad_ctl\[118\]$
^pad_ctl\[119\]$
^pad_in\[15\]$
^pad_out\[15\]$
^pad_oe\[15\]$
^pad_ctl\[120\]$
^pad_ctl\[121\]$
^pad_ctl\[122\]$
^pad_ctl\[123\]$
^pad_ctl\[124\]$
^pad_ctl\[125\]$
^pad_ctl\[126\]$
^pad_ctl\[127\]$

#S
^sysclk$
^clk_iop$
^rst_n$
^PADDR\[.*\]$
^PSEL$
^PENABLE$
^PWRITE$
^PWDATA\[.*\]$
^PSTRB\[.*\]$
^PRDATA\[.*\]$
^PREADY$
^PSLVERR$
^irq_to_host$
